$headerbg: #E2E4CB;
$bodybg: #C5D8D7;
$bodycolor: #333;
$strikecolor: #AACDE6;
$linkcolor: darken($strikecolor, 30%);
$headercolor: #C07810;
$headersoftcolor: #C49031;
$mainbg: #FFFFFF;
$main-width: 960px;
$headerfont: "League Gothic";

@font-face { font-family: "League Gothic"; src: url(../webfonts/league-gothic.ttf); } 
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

@import "compass/reset";
@import "compass/css3/transform";
@import "compass/css3/opacity";
@import "compass/css3/transition";
@import "compass/css3/text-shadow";

body {
    background: transparent url(../images/noisy-blue-bg.png);
    font-family: Lato, "Trebuchet MS", Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

strong {
    font-weight: bold;
}

p {
    margin: 0 0 1.4em 0;
}

p, li {
    line-height: 1.4;
}

a {
    color: $linkcolor;
    font-weight: bold;
    text-decoration: none;
}

ul {
    padding-left: 1em;
    margin: 1em 0 1em 2em;
}

li {
    list-style-type: disc;
}

h1, h2, h3, h4, h5, h5 {
    font-family: $headerfont;
}


header[role="banner"] {
    background-image: url(../images/noisy-yellow-bg.png);
    height: 12em;
    border-bottom: 0.25em solid $strikecolor;
    padding-top: 2em;
    
    h1 {
        @include single-text-shadow(rgba(0, 0, 0, 0.3), 1px, 1px, 1px);
        text-align: center;
        font-size: 12em;
        color: $headercolor;
        text-transform: uppercase;
        vertical-align: middle;
        font-family: $headerfont;
        min-width: 960px;
        
        .isfor {
            font-size: 0.5em;
            color: $headersoftcolor;
            position: relative;
            top: -0.25em;
            letter-spacing: -1px;
        }
        
        .quote-lever {
            font-size: 0.25em;
            color: $headersoftcolor;
            text-decoration: none;
            
            &:hover {
                color: $headercolor;
            }
        }
    }
}

.no-is-for-wimps {
    display: none;
    background-color: darken($bodybg, 50%);
    color: #FAFAFA;
    border-bottom: 3px solid $strikecolor;
    padding: 0.25em;
    
    blockquote {
        width: $main-width * 0.75;
        margin: 1em auto;
        font-size: 1.2em;
        line-height: 1.7em;

        &:before {
            content: "“";
            font-size: 10em;
            position: absolute;
            margin-left: -0.5em;
            margin-top: 0.3em;
            @include opacity(0.2);
        }

    }
}

.main-wrap {
    width: $main-width;
    margin: 1em auto;
}


.jagged {
    background: transparent url(../images/jagged-paper.png) 0 0 repeat-x;
    height: 17px;
}

.jagged-bottom {
    @include rotate(180deg);
}

article[role="main"] {
    background-color: $mainbg;
    padding: 1em;

    section {
        color: $bodycolor;
        
        margin-bottom: 2em;
        
        h2 {
            font-size: 2.5em;
            font-family: $headerfont;
            border-bottom: 3px solid $strikecolor;
            margin-bottom: 0.5em;
            margin-top: 0em;
        }

        figure {
            float: left;
            margin: 0 0.5em 0.5em 0;
            border: 3px solid $strikecolor;
        }
    }

    .apply {
        text-align: center;
        margin-top: 4em;
        margin-bottom: 5em;

        h3 {
            color: $headercolor;
            font-size: 4.5em;
            font-family: $headerfont;
            
            .bullets {
                position: relative;
                top: -0.25em;
                padding: 0 0.25em;
                color: $headersoftcolor;
                font-size: 0.45em;
            }

            a {
                background-color: $bodybg;
                border: 3px solid $strikecolor;
                padding: 0.1em 0.25em;
                border-radius: 0.2em;
                text-decoration: none;
                
                .arrow {
                    font-family: Futura;
                    background-color: white;
                    color: $linkcolor;
                    border-radius: 20px;
                    line-height: 20px;
                    height: 35px;
                    display: inline-block;
                    font-size: 60px;
                    position: relative;
                    top: -8px;
                    padding: 3px;
                    padding-left: 5px;
                }

                &:hover {
                    background-color: $linkcolor;
                    border: 3px solid darken($linkcolor, 10%);
                    color: white;
                }
            }
        }
    }


}

footer[role="contentinfo"] {
    margin-top: 3em;
    background-image: url(../images/noisy-yellow-bg.png);
    height: 3em;
    border-top: 0.25em solid $strikecolor;
    text-align: center;
    padding-top: 1.5em;
    font-size: 0.75em;
    color: lighten($bodycolor, 30%);
}


.social-links {
    text-align: center;
    margin-top: 3em;
    
    a {
        text-indent: -9999px;
        display: inline-block;
        width: 42px;
        height: 40px;
        background: transparent url(../images/twitterbird-white.png) center center no-repeat;
        @include opacity(0.3);
        
    }
    
    a:hover {
        @include opacity(1);
    }
}

aside[role="note"]:before {
    background: transparent url(../images/jagged-paper.png) 0 0 repeat-x;
    display: inline-block;
    position: absolute;
    margin-left: -17px;
    width: 20px;
    height: 20px;
    content: "";
    @include rotate(270deg);
}

aside[role="note"] {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    display: block;
    line-height: 20px;
    padding-right: 20px;
    background-color: $mainbg;
    font-size: 0.75em;
    color: $headercolor;
}

aside[role="note"] a {
    padding-left: 4px;
}