@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@font-face {
  font-family: "League Gothic";
  src: url(../webfonts/league-gothic.ttf);
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 22, ../sass/screen.scss */
body {
  background: transparent url(../images/noisy-blue-bg.png);
  font-family: Lato, "Trebuchet MS", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 16px;
}

/* line 29, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 33, ../sass/screen.scss */
p {
  margin: 0 0 1.4em 0;
}

/* line 37, ../sass/screen.scss */
p, li {
  line-height: 1.4;
}

/* line 41, ../sass/screen.scss */
a {
  color: #3887bf;
  font-weight: bold;
  text-decoration: none;
}

/* line 47, ../sass/screen.scss */
ul {
  padding-left: 1em;
  margin: 1em 0 1em 2em;
}

/* line 52, ../sass/screen.scss */
li {
  list-style-type: disc;
}

/* line 56, ../sass/screen.scss */
h1, h2, h3, h4, h5, h5 {
  font-family: "League Gothic";
}

/* line 61, ../sass/screen.scss */
header[role="banner"] {
  background-image: url(../images/noisy-yellow-bg.png);
  height: 12em;
  border-bottom: 0.25em solid #aacde6;
  padding-top: 2em;
}
/* line 67, ../sass/screen.scss */
header[role="banner"] h1 {
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
  text-align: center;
  font-size: 12em;
  color: #c07810;
  text-transform: uppercase;
  vertical-align: middle;
  font-family: "League Gothic";
  min-width: 760px;
  margin-left: 0.125em;
}
/* line 78, ../sass/screen.scss */
header[role="banner"] h1 .isfor {
  font-size: 0.5em;
  color: #c49031;
  position: relative;
  top: -0.25em;
  letter-spacing: -1px;
}
/* line 86, ../sass/screen.scss */
header[role="banner"] h1 .quote-lever {
  -webkit-transition: opacity 0.25s linear;
  -webkit-transition-delay: 0;
  -moz-transition: opacity 0.25s linear 0;
  -ms-transition: opacity 0.25s linear 0;
  -o-transition: opacity 0.25s linear 0;
  transition: opacity 0.25s linear 0;
  font-size: 0.25em;
  color: #c07810;
  text-decoration: none;
  opacity: 0.15;
}
/* line 93, ../sass/screen.scss */
header[role="banner"] h1 .quote-lever:hover, header[role="banner"] h1 .quote-lever:focus {
  opacity: 1;
}

/* line 101, ../sass/screen.scss */
.no-is-for-wimps {
  -webkit-transition: all 0.25s linear;
  -webkit-transition-delay: 0;
  -moz-transition: all 0.25s linear 0;
  -ms-transition: all 0.25s linear 0;
  -o-transition: all 0.25s linear 0;
  transition: all 0.25s linear 0;
  height: 0;
  overflow: hidden;
  background-color: #405e5d;
  color: #FAFAFA;
  border-bottom: 3px solid #aacde6;
  padding: 0em;
}
/* line 110, ../sass/screen.scss */
.no-is-for-wimps blockquote {
  width: 570px;
  margin: 1em auto;
  font-size: 1.1em;
  line-height: 1.7em;
  overflow: auto;
}
/* line 117, ../sass/screen.scss */
.no-is-for-wimps blockquote:before {
  content: "“";
  font-size: 10em;
  position: absolute;
  margin-left: -0.5em;
  margin-top: 0.3em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 126, ../sass/screen.scss */
.no-is-for-wimps blockquote a {
  color: #FAFAFA;
  text-decoration: underline;
}

/* line 134, ../sass/screen.scss */
body.lever-on .no-is-for-wimps {
  height: 83em;
}

/* line 138, ../sass/screen.scss */
.main-wrap {
  width: 760px;
  margin: 1em auto;
}

/* line 144, ../sass/screen.scss */
.jagged {
  background: transparent url(../images/jagged-paper.png) 0 0 repeat-x;
  height: 10px;
}

/* line 149, ../sass/screen.scss */
.jagged-bottom {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 153, ../sass/screen.scss */
article[role="main"] {
  background-color: white;
  padding: 1em;
}
/* line 157, ../sass/screen.scss */
article[role="main"] section {
  color: #333333;
  margin-bottom: 2em;
}
/* line 162, ../sass/screen.scss */
article[role="main"] section h2 {
  font-size: 2.5em;
  font-family: "League Gothic";
  border-bottom: 3px solid #aacde6;
  margin-bottom: 0.5em;
  margin-top: 0em;
}
/* line 170, ../sass/screen.scss */
article[role="main"] section figure {
  float: left;
  margin: 0 0.5em 0.5em 0;
  border: 3px solid #aacde6;
}
/* line 177, ../sass/screen.scss */
article[role="main"] .apply {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 5em;
}
/* line 182, ../sass/screen.scss */
article[role="main"] .apply h3 {
  color: #c07810;
  font-size: 4.5em;
  font-family: "League Gothic";
}
/* line 187, ../sass/screen.scss */
article[role="main"] .apply h3 .bullets:before {
  content: " • • • • • • • • • • • • • ";
}
/* line 191, ../sass/screen.scss */
article[role="main"] .apply h3 .bullets {
  position: relative;
  top: -0.25em;
  padding: 0 0.25em;
  color: #c49031;
  font-size: 0.45em;
}
/* line 199, ../sass/screen.scss */
article[role="main"] .apply h3 a {
  background-color: #c5d8d7;
  border: 3px solid #aacde6;
  padding: 0.1em 0.25em;
  border-radius: 0.2em;
  text-decoration: none;
  font-weight: normal;
}
/* line 207, ../sass/screen.scss */
article[role="main"] .apply h3 a .arrow {
  font-family: Futura;
  background-color: white;
  color: #3887bf;
  border-radius: 20px;
  line-height: 20px;
  height: 35px;
  display: inline-block;
  font-size: 60px;
  position: relative;
  top: -8px;
  padding: 3px;
  padding-left: 5px;
}
/* line 222, ../sass/screen.scss */
article[role="main"] .apply h3 a:hover {
  background-color: #3887bf;
  border: 3px solid #2d6b97;
  color: white;
}

/* line 234, ../sass/screen.scss */
footer[role="contentinfo"] {
  margin-top: 3em;
  background-image: url(../images/noisy-yellow-bg.png);
  height: 3em;
  border-top: 0.25em solid #aacde6;
  text-align: center;
  padding-top: 1.5em;
  font-size: 0.75em;
  color: gray;
}

/* line 246, ../sass/screen.scss */
.social-links {
  text-align: center;
  margin-top: 3em;
}
/* line 250, ../sass/screen.scss */
.social-links a {
  text-indent: -9999px;
  display: inline-block;
  width: 42px;
  height: 40px;
  background: transparent url(../images/twitterbird-white.png) center center no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 260, ../sass/screen.scss */
.social-links a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 265, ../sass/screen.scss */
aside[role="note"]:before {
  background: transparent url(../images/jagged-paper.png) 0 0 repeat-x;
  display: inline-block;
  position: absolute;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  content: "";
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 276, ../sass/screen.scss */
aside[role="note"] {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  display: block;
  line-height: 20px;
  padding-right: 20px;
  background-color: white;
  font-size: 0.75em;
  color: #c07810;
}

/* line 289, ../sass/screen.scss */
aside[role="note"] a {
  padding-left: 4px;
}
